.CommonSection {
  margin-top: 50px;
}

.CommonSection__title {
  font-family: PoppinsBold;

  padding-bottom: 10px;
  border-bottom: 1px solid #DDD;
  font-size: 24px;
  margin: 30px 0;
}

.CommonSection.expanded {
  @include desktop {
    margin-top: 0px;
  }
}

.expanded {
  .CommonSection__title {
    font-size: 20px;
    margin-bottom: 25px;
  }
}